<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Shoppa</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Navbar</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="container" id="app">
        <div class="row mt-1 mb-1">
            <div class="col-sm-12 col-md-12">
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="status-true" v-model="status" value="true">
                            <label class="form-check-label" for="status-true">True</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="status-false" v-model="status" value="false">
                            <label class="form-check-label" for="status-false">False</label>
                        </div>
                    </div>
                </div>
                <div class="card mt-2 mb-2" v-if="status === true">
                    <div class="card-body">
                        <blockquote class="blockquote" v-html="quote"></blockquote>
                    </div>
                </div>
                <div class="card mt-2 mb-2" v-else>
                    <div class="card-body">
                        <blockquote class="blockquote" v-html="negate"></blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1 mb-1">
            <div class="col-sm-12 col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h4 class="display-4">Json Payload</h4>
                        <pre>{{ $data }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VueJS JavaScript -->
    <script src="assets/vuejs/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                quote: '<p class="mb-0">"Things change. And friends leave. Life doesn\'t stop for anybody."</p><footer class="blockquote-footer">Stephen Chbosky in <cite title="The Perks of Being a Wallflower">The Perks of Being a Wallflower</cite></footer>',
                negate: '<p class="mb-0">"You cannot have a positive life and a negative mind."</p><footer class="blockquote-footer">Joyce Meyer</footer>',
                status: true
            }
        });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>